/* ==================================================================
GLOBAL STYLES
================================================================== */
a,
a:hover,
a:focus,
a:active { 
	color:#FF003C;
}

/* ==================================================================
TYPOGRAPHY
================================================================== */

em { 
	color:#FF003C;
}
		
/* ==================================================================
HEADING
================================================================== */	
.heading span.line {
	border-bottom: 2px solid #FF003C;
}

/* ==================================================================
FIXED NAVBAR
================================================================== */
ul.nav li a::before,
ul.nav li a::after,
ul.nav li a:hover::before,
ul.nav li a:hover::after,
ul.nav li a:focus::before,
ul.nav li a:focus::after,
ul.nav li.active a::before,
ul.nav li.active a::after,
ul.nav li.active a{
	color:#FF003C;
}

/* ==================================================================
BRAND - NAVBAR, HOMEPAGE, FOOTER
================================================================== */
footer h1.logo { 
	color:rgba(255,0,60,.7);
}

/* ==================================================================
SECTIONS
================================================================== */
#spotlight1, #spotlight2, #blog{
	border-top: 1px solid #fcc7d3;
	background: #fff url(../../images/patterns/pattern_pink.png) repeat;
}

/* ==================================================================
HOMEPAGE
================================================================== */
.intro .btn-lg:hover,
.intro .learn{
	border-color: #FF003C; 
	background: #FF003C;
}

.intro .learn:hover{
	color: #FF003C;
}

/* ==================================================================
FEATURES
================================================================== */
.hi-icon-effect .hi-icon:after {
	background: #FF003C;
}

.features-desc:hover h4 {
	color: #FF003C;
}		
				
/* ==================================================================
SPOTLIGHT 1
================================================================== */
.spotlight-link:hover{
	border-color: #FF003C;
	background: #FF003C;
}

/* ==================================================================
NEWSLETTER
================================================================== */
.subs-submit,
.subs-submit:hover,
.subs-submit:focus,
.subs-submit:active{
	border-color: #FF003C;
	background: #FF003C;
}

/* ==================================================================
GALLERY
================================================================== */
a.thumbnail:hover{
	border-color: #FF003C;
}

a.thumbnail div {
	background: rgba(231,0,54,0.75);
}

/* ==================================================================
SPOTLIGHT 2
================================================================== */
.spotlight-features li:hover .hi-icon-2 {
	background: #FF003C;
	box-shadow: 0 0 0 2px #FF003C;
}

.spotlight-features li:hover p strong {
	color: #FF003C;
}

.spotlight-link:hover{
	border-color: #FF003C;
	background: #FF003C;
}

/* ==================================================================
COMMENTS
================================================================== */
#comments .icon-title {
	background: #FF003C;
}

/* ==================================================================
PRICES
================================================================== */
.circle-price{
	background: #FF003C;
}

.buy-now a:hover{
	border-color: #FF003C; 
	background: #FF003C;
}

/* ==================================================================
BLOG
================================================================== */
.post .thumbnail:hover{
	border-color: #FF003C;
}
	
.mask-overlay{
	background: #e70036;
}

a.more:hover,
a.more-posts:hover{
	border-color: #FF003C; 
	background: #FF003C;
}

/* ==================================================================
TWITTER
================================================================== */	
.icon-twitter {
	color: #FF003C;
}

/* ==================================================================
CONTACT
================================================================== */
.button-send:hover,
.button-send:focus,
.button-send:active{
	border-color: #FF003C;
	background: #FF003C;
}

.success-message-2{
	color: #FF003C;
}
	
/* ==================================================================
FOOTER
================================================================== */
.footer-content .back-top:hover{
	background-color: #FF003C;
}

/* ==================================================================
RESPONSIVE
================================================================== */
@media (max-width: 480px) {	
	.navbar-toggle:hover .icon-bar{
		background-color: #FF003C;
	}
}