/* ==================================================================
GLOBAL STYLES
================================================================== */
a,
a:hover,
a:focus,
a:active { 
	color:#fabe28;
}

/* ==================================================================
TYPOGRAPHY
================================================================== */

em { 
	color:#fabe28;
}
		
/* ==================================================================
HEADING
================================================================== */	
.heading span.line {
	border-bottom: 2px solid #fabe28;
}

/* ==================================================================
FIXED NAVBAR
================================================================== */
ul.nav li a::before,
ul.nav li a::after,
ul.nav li a:hover::before,
ul.nav li a:hover::after,
ul.nav li a:focus::before,
ul.nav li a:focus::after,
ul.nav li.active a::before,
ul.nav li.active a::after,
ul.nav li.active a{
	color:#fabe28;
}

/* ==================================================================
BRAND - NAVBAR, HOMEPAGE, FOOTER
================================================================== */
footer h1.logo { 
	color:rgba(250,190,40,.7);
}

/* ==================================================================
SECTIONS
================================================================== */
#spotlight1, #spotlight2, #blog{
	border-top: 1px solid #f9e8bc;
	background: #fff url(../../images/patterns/pattern_yellow.png) repeat;
}

/* ==================================================================
HOMEPAGE
================================================================== */
.intro .btn-lg:hover,
.intro .learn{
	border-color: #fabe28; 
	background: #fabe28;
}

.intro .learn:hover{
	color: #fabe28;
}

/* ==================================================================
FEATURES
================================================================== */
.hi-icon-effect .hi-icon:after {
	background: #fabe28;
}

.features-desc:hover h4 {
	color: #fabe28;
}		
				
/* ==================================================================
SPOTLIGHT 1
================================================================== */
.spotlight-link:hover{
	border-color: #fabe28;
	background: #fabe28;
}

/* ==================================================================
NEWSLETTER
================================================================== */
.subs-submit,
.subs-submit:hover,
.subs-submit:focus,
.subs-submit:active{
	border-color: #fabe28;
	background: #fabe28;
}

/* ==================================================================
GALLERY
================================================================== */
a.thumbnail:hover{
	border-color: #fabe28;
}

a.thumbnail div {
	background: rgba(228,168,18,0.75);
}

/* ==================================================================
SPOTLIGHT 2
================================================================== */
.spotlight-features li:hover .hi-icon-2 {
	background: #fabe28;
	box-shadow: 0 0 0 2px #fabe28;
}

.spotlight-features li:hover p strong {
	color: #fabe28;
}

.spotlight-link:hover{
	border-color: #fabe28;
	background: #fabe28;
}

/* ==================================================================
COMMENTS
================================================================== */
#comments .icon-title {
	background: #fabe28;
}

/* ==================================================================
PRICES
================================================================== */
.circle-price{
	background: #fabe28;
}

.buy-now a:hover{
	border-color: #fabe28; 
	background: #fabe28;
}

/* ==================================================================
BLOG
================================================================== */
.post .thumbnail:hover{
	border-color: #fabe28;
}
	
.mask-overlay{
	background: #e4a812;
}

a.more:hover,
a.more-posts:hover{
	border-color: #fabe28; 
	background: #fabe28;
}

/* ==================================================================
TWITTER
================================================================== */	
.icon-twitter {
	color: #fabe28;
}

/* ==================================================================
CONTACT
================================================================== */
.button-send:hover,
.button-send:focus,
.button-send:active{
	border-color: #fabe28;
	background: #fabe28;
}

.success-message-2{
	color: #fabe28;
}
	
/* ==================================================================
FOOTER
================================================================== */
.footer-content .back-top:hover{
	background-color: #fabe28;
}

/* ==================================================================
RESPONSIVE
================================================================== */
@media (max-width: 480px) {	
	.navbar-toggle:hover .icon-bar{
		background-color: #fabe28;
	}
}